    .clear-f:after,
    .clear-f:before{
        content:" ";
        display:block;
        clear:both;
    }


    #focus>div{
    display: block;
        height: 300px;
    }

    .hack-right{
        padding: 0 12px;
        margin-top: 22px;
    }
    .article-list .item:first-child,#focus{
    margin-top: 2%;
    }



    .navbar ul>li{
    margin-left: 50px;
        }


    .navbar .layui-nav .login{
float: right;
       }


    .to-mune{
        margin-left:80%;
        clear: none;
        display: block;
        text-align: center;
        display: none;
    }


    /*moblie style*/
    @media (max-width: 480px){
        .navbar .layui-nav li{
            clear: both;
            display: none;
        }
        .to-mune{
            display: block;
            padding: 20px 12px;
        }

        #to-mune:checked~li{
            display: block;

           }

        .navbar .layui-nav  .login,register{
            display: block;
            float: left;
        }


        .captch {
            float: right;
        }

    }

/*mobile end*/



    .view-all{
        margin-top: 21px;

    }

    .article-content {
        margin-top: 24px;
        word-break: break-all;
    }

    .layui-footer ul>li{
        margin-left: 0%;
    }


    /*nav seach*/
#hacker-search{
color: red;
width: 333px;
}

.blog-box{
    margin-top: 20px;

    box-shadow: 0px 5px 3px 3px  #888888;
}

.article-show{
min-height:500px;
}

.article-show .article-content{
    margin-top: 62px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 33px;
    font-family: "微软雅黑";
}

    .article-show .article-content img{
        max-width: 95%;
    }

    .blog-center{
margin-left: 40%;
    }

    .blog-error{
        background-color: yellow;
    }